[build]
builder = "nixpacks"
buildCommand = "pip install -r backend/requirements.txt && python backend/manage.py collectstatic --noinput && python backend/manage.py migrate"
startCommand = "gunicorn --chdir backend logipro_backend.wsgi:application"

[deploy]
startCommand = "gunicorn --chdir backend logipro_backend.wsgi:application"
