[build]
builder = "nixpacks"
buildCommand = "python3 -m pip install -r backend/requirements.txt && python3 backend/manage.py collectstatic --noinput && python3 backend/manage.py migrate"
startCommand = "gunicorn --chdir backend logipro_backend.wsgi:application"

[deploy]
startCommand = "gunicorn --chdir backend logipro_backend.wsgi:application"

[nixpacks]
phases.setup.nixPkgs = ["python311", "python311Packages.pip"]
phases.setup.cmds = ["python3 -m venv /opt/venv", ". /opt/venv/bin/activate", "python3 -m pip install --upgrade pip"]

