# .dockerignore

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Local database and environment files
db.sqlite3
.env
firebase-service-account.json